.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #1585c2;
}

.text-yellow {
  color: #fbd95e;
}

.text-black {
  color: #000;
}

ol.requirements-list,
ul.design-list {
  margin-top: 100px!important;
}

ol.requirements-list li {
  margin-bottom: 20px;
}

ul.code-org-list {
  margin-top: 20px
}

ul.code-org-list strong {
  color: #fbd95e;
}

.custom-boxed-white li::before {
  color: #1585c2;
  background-color: #fff;
}

pre.pre-code-noshadow .file-structure {
  margin-top: 100px!important;
}

.file-structure .line-number {
  display: none;
}

.architecture {
  margin-top: 60px!important;
}

